/* ==========================================================================
	Header
	========================================================================== */

.header-wrapper {
	background: $primaryColor url('../images/world_map.png') no-repeat center top;
}
.heading-highlight {
	font-size: 68px;
	line-height: 78px;
	color: #fff;
	font-family: $secondaryFont;
	text-transform: uppercase;
	margin: 250px 0 10px 0;
	padding: 0 0 0 0;
	opacity: 0;
	-webkit-animation: fadeInLeft 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0.5s 1 forwards;
  animation: fadeInLeft 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0.5s 1 forwards;
}
.heading-highlight span {
	display: inline-block;
	border-bottom: #ffffff 2px solid;
}
.heading-sub-highlight {
	color: #fff;
	font-size: 18px;
	font-family: $secondaryFont;
	text-transform: uppercase;
	margin: 0 0 200px 0;
	padding: 0;
	display: block;
	opacity: 0;
	-webkit-animation: fadeInLeft 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0.5s 1 forwards;
  animation: fadeInLeft 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0.5s 1 forwards;
}

/* ==========================================================================
	Topbar
	========================================================================== */

.topbar {
	background: $secondaryColor;
	opacity: 0;
	text-align: center;
	padding-bottom: 100px;
	-webkit-animation: fadeInBottom 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0.5s 1 forwards;
  animation: fadeInBottom 0.4s cubic-bezier(0.3, 0, 0.3, 1) 0.5s 1 forwards;
}
.topbar-logo {
	text-align: center;
	display: inline-block;
	margin-top: 50px;
}
.topbar-logo-image {
	width: 113px;
	height: auto;
}
.topbar-menu {
	text-align: left;
	padding-top: 80px;
}
.topbar-menu-item {
	font-size: 22px;
	text-transform: uppercase;
	list-style: none;
	margin-bottom: 10px;
}
.topbar-menu-item a {
	color: #ffffff;
	font-weight: bold;
	font-family: $secondaryFont;
}
.choose-your-path {
	border-top: #a7d0e7 6px solid;
	background: #ffffff;
}
.choose-your-path-title {
	text-align: center;
	color: #63646e;
	font-family: $secondaryFont;
	padding: 10px 0;
	margin: 0;
}
